demo01/.DS_Store
demo01/node_modules/
demo01/dist/
demo01/npm-debug.log*
demo01/yarn-debug.log*
demo01/yarn-error.log*
demo01/test/unit/coverage/
demo01/test/e2e/reports/
demo01/selenium-debug.log

# Editor directories and files
demo01/.idea
demo01/.vscode
demo01/*.suo
demo01/*.ntvs*
demo01/*.njsproj
demo01/*.sln
